//
//  Secrets.xcconfig
//  MuseumArtworks
//
//  Created by Fede Flores on 08/02/2024.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

API_BASE_HOST = api.artic.edu
API_IMAGE_HOST = www.artic.edu

//In case future API Keys or sensible data are neeeded
